# Ignore virtual environment directory
.venv/

# Ignore pickle file
*.pkl

# Ignore IPython notebook checkpoint files
*.ipynb_checkpoints/

# Ignore Jupyter notebook output files
*.ipynb_outputs/

.vscode/settings.json
creditcard.csv